#main{
  width:500px;
  height: 20px;
  background: lightblue;
}
#hidden {
  width:300px;
  height:20px;
  background: lightgrey;
  display: none;
}

.h5style {
  z-index:2;
  color: rgb(255, 255, 255)
}

.buttonweather {
  display: inline-block;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2e3038;
  border: none;
  border-radius: 12px;
  box-shadow: 0 5px #999;
}

.buttonweather:hover {background-color: #413d4e}

.buttonweather:active {
  background-color: #2f3640;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.main-container {
  margin-top: 20px;
  margin-bottom: 20px;
  background:#2f3640;
  background-size: cover;
  background-position: center;
  height: 1000px;
}

.main-container {
  color:#1e2432;
  height:10%;
  position: absolute;
  top: 00px;
  right: 10px;
  bottom: 0px;
  padding-top: 40px;
  width: 90.0%;
  z-index: 2;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
}

.search {
  outline: none;
  padding: 10px 5%;
  border-radius: 20px;
  border: none;
  margin-bottom: 2%;
  background: rgba(250, 250, 250, 0.85);
}

.city {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 8%;
  border-radius: 10px;
  background: rgba(250, 250, 250, 0.85);
  box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
}

p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: #1e2432;
  text-align: center;
}

.city sup {
  font-size: 0.5em;
}

.city-name {
  font-size: 2em;
}

.city-name sup {
  padding: 0.2em 0.6em;
  margin-left: 0.2em;
  border-radius: 30px;
  color: #fff;
  background: #ff8c00;
}

.city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.info {margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .search {
    padding: 20px 15%;
  }

  .city {
    padding: 40px 20%;
  }
}
