/*!******************************* MAIN COMPONENT *******************************!*/
.hr_employeesMainComponent{
    position: absolute;
    top: 80px;
    left :0px;
    bottom: 0px;
    width : 100%;
    z-index: -1;
    background-color: #1e272e;
}

.hr_employeesSubComponent {
    position: absolute;
    top: 0px;
    left :0px;
    bottom: 0px;
    width : 82%;
    z-index: -1;
    padding-top: 20px;
    padding-right: 5%;
    padding-left: 5%;
    overflow: scroll;
    color: white;
}

.hr_employeesSubComponent::-webkit-scrollbar{
    display: none;
}

.hr_addEmployee, .hr_updateEmployee , .hr_deleteEmployee , .hr_updatePosition{
    position: absolute;
    top: 70px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    height:500px;
    background: #2f3640;
    margin-bottom: 40px;
    border-radius: 30px;
    padding: 0px;
    visibility: visible;
}
.no_hr_addEmployee, .no_hr_updateEmployee , .no_hr_deleteEmployee , .no_hr_updatePosition{
    visibility: hidden;
}
.hrTitleText {
    color: #a4b0be;
    height: 50px;
    padding-top: 10px;
    margin: 0px;
    font-size: 20px;
}
.hr_employeeMenu{
    position: absolute;
    top: 70px;
    left: 20px;
    right: 20px;
    height:500px;
    background: #1e272e;
    margin-bottom: 40px;
    border-radius: 30px;
    padding: 0px;
    visibility: visible;
}
.menuContainer{
    height: 300px;
    margin-top:20px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.menuItem{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    background-color: #2f3640;
    box-shadow: 0px 0px 10px 1px rgb(250, 12, 4);
    cursor: pointer;
    transition: 1s;
}
.menuItem:hover{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 0px 10px 10px rgb(250, 12, 4);
}
.menuItemText{
    margin-top: 80px;
    margin-bottom: 80px;
    height:40px;
    text-align: center;
}
.hr_employeeForm{
    display: grid;
    grid-template-rows: 380px 80px;
}

.hr_employeeFormSub{
    height: 100%;
    width: 100%;
}

.hr_employeeLabel{
    display: grid;
    grid-template-columns: 45% 45%;
    margin-top: 10px;
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
    text-align: center;
}
.hr_employeeTextInput{
    background-color: #1e272e;
    color: white;
    outline: none;
    border: none;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}
.hr_employeeTextInput:focus{
    outline: none;
}
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
}
.no_error_message{
    visibility: hidden;
}
.error_message{
    position: absolute;
    padding-top: 10px;
    padding-bottom :10px;
    color: red;
    font-size: 13px;
    visibility: visible;
    width: 90%;
    text-align: center;
}
.employeeButtonsContainer{
    width: max-content;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
    align-self: center;
    justify-self: center;
}
.hr_employee_addButtonContainer{
    border-radius: 100px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    padding :5px;
    margin-right: 10px;
    transition: 1s;
    box-shadow: 0px 0px 10px 1px rgb(250, 12, 4);
}
.hr_employee_menuButtonContainer{
    border-radius: 100px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    padding :5px;
    margin-right: 10px;
}
.hr_employee_addButtonContainer:hover ,.hr_employee_menuButtonContainer:hover{
    color: red;

    transition: 1s;
}
.employee_select{
    background-color:#FF5349;
    border-color: #FF5349;
    color:azure;
    border-radius: 10px;
}
.showDeleteConfirm{
    background:red;
    width: 50%;
    height: 100px;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 50px;
    padding: 10px;
    border-radius: 20px;
}
.deleteButtonsContainer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    /*align-items: center;*/
}
.deleteCancelButton{
    text-align: center;
    text-align: center;
    background: #2f3640;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}
.deleteCancelButton:hover{

}
.deleteConfirmButton{
    text-align: center;
    background: #2f3640;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}
.hideDeleteConfirm{
    visibility: hidden;
}

@media only screen and (max-width: 991px) {
    .hr_employeesMainComponent {
        position: absolute;
        top: 250px;
        left: 0px;
        bottom: 0px;
        padding-top: 80px;
        width: 100%;
        z-index: -1;
        background-color: #1e272e;
    }

    .hr_employeesSubComponent  {
        position: static;
        width: 100%;
        z-index: -1;
        background-color: #1e272e;
        padding-bottom: 20px;
    }
}

/******************************* SIDE BAR ***********************************/
.sideBarEmployeesComponent {
    position: absolute;
    top: 00px;
    right :0px;
    bottom: 0px;
    width : 18%;
    z-index: -1;
    background-color: #2f3640;
    /*display: grid;*/
    /*grid-template-rows: 20% 80%;*/
}
.employeesElement{
    padding:10px;
    background: #1e272e;
    margin: 20px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 20% 80%;
    height: 80px;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}
.sideBarEmployeesSubContainer{
    padding-top: 100px;
}
.employees_sidebar_employees_container{
    position: absolute;
    top: 10px;
    padding-top: 10px;
    bottom: 0px;
    overflow: scroll;
    width: 100%;
}
.employees_sidebar_employees_container::-webkit-scrollbar{
    display: none;
}
.employees_sidebar_employee{
    height: 150px;
    width:90%;
    margin-left: 5%;
    margin-bottom: 30px;
    background: #1e272e;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
    padding-right: 10px;
    transition: 1s;
    border-radius: 20px;
}
#employees_sidebar_employee0 {
    color:#a4b0be;
    box-shadow: 0px 0px 10px 1px rgb(250, 12, 4);
}
#selected_employees_sidebar_employee0 {
    box-shadow: 0px 0px 10px 10px rgb(250, 12, 4);
    color: red;
}
#employees_sidebar_employee1 {
    color:#a4b0be;
    box-shadow: 0px 0px 10px 1px rgb(101, 59, 141);
}
#selected_employees_sidebar_employee1 {
    box-shadow: 0px 0px 10px 10px rgb(101, 59, 141);
    color: #a29bfe;
}
#employees_sidebar_employee2 {
    color:#a4b0be;
    box-shadow: 0px 0px 10px 1px rgb(248, 171, 4);
}
#selected_employees_sidebar_employee2 {
    box-shadow: 0px 0px 10px 10px rgb(248, 171, 4);
    color: rgb(248, 171, 4);
}
#employees_sidebar_employee3 {
    color:#a4b0be;
    box-shadow: 0px 0px 10px 1px blue;
}
#selected_employees_sidebar_employee3 {
    box-shadow: 0px 0px 10px 10px blue;
    color: #1B9CFC;
}
.employees_sidebar_employee_name{
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    font-weight: bolder;
}
#employees_sidebar_employee_email{
    font-size: 10px;
    color: red;
}
.employees_sidebar_employee_image{
    width: 50%;
    height: 100px;
    margin-left: 25%;
    margin-right: 25%;
}
.employees_employee_avatar{
    width: 100%;
    height: 100px;
}
@media only screen and (max-width: 991px) {
    .sideBarEmployeesComponent {
        position: unset;
        bottom: unset;
        width: 100%;
        padding-top: 10px;
        height: 200px;
        z-index: -1;
        background-color: #2f3640;
    }
}
