.createtaskform{
  position: absolute;
  left:190px
}

.h1tasks{
  padding-top: 10px;
  color:#ffffff;
}

.buttonsubmitclear{
  color:#262c30;
  
  top: 120px;
  left: 80%;
  padding: 0px;
  background-color: transparent;
  color: rgb(190, 33, 33);
  z-index: 21;
  border: 0px;
  font-weight: bold;
}

.closebuttonactual {
  position: absolute;
  top:110px;
  left: 60%;
  padding: 10px;
  background-color: transparent;
  color: rgb(190, 33, 33);
  z-index: 21;
  position: absolute;
  border: 0px;
}

.buttonsubmittask{
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(22, 22, 54);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding-top: 4px;
  width: 200px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 4px;
}

.buttondir {
  border-radius: 4px;
  background-color: #26336e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 25px;
}
.buttondir > span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.forward > span:after {
  content: ' »';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.back > span:after {
  content: '« ';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0px;
  transition: 0.5s;
}
.forward:hover > span {
  padding-right: 25px;
}
.back:hover > span {
  padding-left: 25px;
}
.forward:hover > span:after {
  opacity: 1;
  right: 0;
}
.back:hover > span:after {
  opacity: 1;
  left: 0;
}

.containerbuttons {
  text-align: center;
}

.bodyappear1createtask {
  z-index: 10;
  position: fixed;
  left: 66%;
  bottom: 0px;
  top: 100px;
}


.bodyappear2createtask {
  z-index: 10;
  position: fixed;
  left: 78%;
  bottom: 0px;
  top: 100px;
}


.bodyappear3createtask {
  z-index: 10;
  position: fixed;
  left: 66%;
  bottom: 0px;
  top: 300px;
}

.bodyappear4createtask {
  z-index: 10;
  position: fixed;
  left: 78%;
  bottom: 0px;
  top: 300px;
}


.buttoncreatetask {
  color: rgb(189, 27, 27);
  box-sizing: content-box;
  height: 95px;
  background: #252e35;
  font-size: 20px;
  text-align: left;
  width: 50px;
  padding: 90px;
  padding-top: 10px;
  padding-left: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border: none;
  opacity: 0.8;
}
.buttoncreatetask span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttoncreatetask span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttoncreatetask:hover {
  background-color: #191b3a;
  opacity: 0.5;
}
.buttoncreatetask:hover span {
  padding-right: 25px;
}
.buttoncreatetask:hover span:after {
  opacity: 1;
  right: 0;
}

