.directionButtons{
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid black
}


.bodyappear3viewproject {
  z-index: 10;
  position: fixed;
  left: 87%;
  bottom: 0px;
  top: 80px;
}


.bodyappear4viewproject {
  z-index: 10;
  position: fixed;
  left: 87%;
  bottom: 0px;
  top: 280px;
}

.bodyappear5viewproject {
  z-index: 10;
  position: fixed;
  left: 87%;
  bottom: 0px;
  top: 480px;
}


.buttonviewproject {
  color: rgb(189, 27, 27);
  box-sizing: content-box;
  height: 95px;
  background: #252e35;
  font-size: 20px;
  text-align: left;
  width: 50px;
  padding: 90px;
  padding-top: 10px;
  padding-left: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border: none;
  opacity: 0.8;
}
.buttonviewproject span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.buttonviewproject span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.buttonviewproject:hover {
  background-color: #191b3a;
  opacity: 0.5;
}
.buttonviewproject:hover span {
  padding-right: 25px;
}
.buttonviewproject:hover span:after {
  opacity: 1;
  right: 0;
}