.imageContainer {
    position: relative;
    width: 100px;
    margin-top: 200px;
    margin: auto;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 200px;
    height: 200px;
    transition: .5s ease;
    backface-visibility: hidden; 
    margin: auto;
  }
  
  .middle {
    margin: auto;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  
  .container{
  margin-top: 20px;
  }
  
  
  
  .usersidebartext {
    background-color: #190e44;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 16px 32px;
    margin-top: 200px;
  }

  
/******************************* SIDE BAR ***********************************/
.reportsSideBarComponent {
    position: absolute;
    top: 0px;
    right :0px;
    height: 100%;
    bottom: 0px;
    width : 18%;
    z-index: -1;
    background-color: #2f3640;
}

@media only screen and (max-width: 991px) {
    .userReportsSideBarComponent{
        position: unset;
        bottom: unset;
        width: 100%;
        padding-top: 10px;
        height: 200px;
        z-index: -1;
        background-color: #2f3640;

    }
}

.userReportsTitle {
    color : white;
}

.reportsSidebarText{
  color: white;
  justify-content: center;
  text-align: center;
  margin: 5px;
  height: 25px;
}